services:
  backend:
    image: qms-backend
    build:
      context: ./QMS.Backend
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - "ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING:-Server=host.docker.internal;Port=3305;Database=QMS;User=root;Password='100100';}"
    # Allow communication from host to container if needed
    ports:
      - "${BACKEND_PORT:-5000}:8080"
    restart: always

  frontend:
    image: qms-frontend
    build:
      context: ./qms-frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT:-8080}:80"
    depends_on:
      - backend
    restart: always
